{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    ["styled-components", {
      "displayName": false
    }],
    "polished",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["module-resolver", {
      "extensions": [".js", ".jsx"],
      "root": ["./src"],
      "alias": {
        "assets": "./assets"
      }
    }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
